In [23]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [24]:
df = pd.read_csv("./data/ordinal.csv")

In [25]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [26]:
req_df = df.iloc[:,2:]
req_df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [27]:
data = req_df[['review', 'education']]
data.head()

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG
4  Average        UG

In [28]:
data.shape

(50, 2)

In [29]:
print("No. Of Unique Values of review column:",data['review'].nunique())
data['review'].value_counts()

No. Of Unique Values of review column: 3

Poor       18
Good       18
Average    14
Name: review, dtype: int64

In [30]:
print("No. Of Unique Values of education column:",data['education'].nunique())
data['education'].value_counts()

No. Of Unique Values of education column: 3

PG        18
School    16
UG        16
Name: education, dtype: int64

In [32]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
oe.fit(data)
temp_data = oe.transform(data)
temp_data

array([[1., 0.],
       [0., 1.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [1., 1.],
       [2., 1.],
       [2., 1.],
       [2., 1.],
       [0., 0.],
       [1., 0.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [1., 2.],
       [0., 2.],
       [2., 0.],
       [1., 2.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [1., 0.],
       [0., 0.],
       [2., 1.],
       [1., 2.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [2., 1.]])

In [33]:
data = pd.DataFrame(temp_data, columns=data.columns)
data.head()

   review  education
0     1.0        0.0
1     0.0        1.0
2     2.0        2.0
3     2.0        2.0
4     1.0        1.0

In [34]:
data.columns

Index(['review', 'education'], dtype='object')

In [35]:
from sklearn.preprocessing import LabelEncoder

In [41]:
data2 = req_df[['purchased']]
data2.head()

  purchased
0        No
1        No
2        No
3        No
4        No

In [42]:
le = LabelEncoder()

In [43]:
le.fit(data2)

/home/ubuntu/MACHINE LEARNING/myvenv/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [44]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [45]:
trans_data2 = le.transform(data2)
trans_data2

/home/ubuntu/MACHINE LEARNING/myvenv/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0])

In [46]:
df_data2 = pd.DataFrame(trans_data2, columns=data2.columns)
df_data2.head()

   purchased
0          0
1          0
2          0
3          0
4          0